liip_imagine:
    # valid drivers options include "gd" or "gmagick" or "imagick"
    driver: "gd"

    resolvers:
        default:
            web_path:
                web_root: "%kernel.project_dir%/public"
                cache_prefix: "images/cache"

    loaders:
            default:
                filesystem:
                    data_root:
                        - %app.cover_dir%
                        - %kernel.project_dir%/public/

    # define your filter sets under this option
    filter_sets:
        list_thumbnail:
            # set your image quality defaults
            jpeg_quality:          85
            png_compression_level: 8
            # setup the filter steps to apply for this transformation
            filters:

                # auto rotate the image using EXIF metadata
                auto_rotate: ~

                # strip the image of all metadata
                strip: ~

                # scale and square the image to the given dimensions
                thumbnail:
                    size:          [50, 50]
                    mode:          outbound
                    allow_upscale: false


        view_cover:
            # set your image quality defaults
            jpeg_quality:          90
            png_compression_level: 9
            # setup the filter steps to apply for this transformation
            filters:

                # auto rotate the image using EXIF metadata
                auto_rotate: ~

                # strip the image of all metadata
                strip: ~

                # scale and square the image to the given dimensions
                downscale:
                    max: [512, 512]