{% block blocks %}
<div id="search-no-results" class="pure-u-1 pure-u-lg-1-2 lightly-hspace" hidden>
    <div>{% trans with {} from 'compare' %}No results{% endtrans %}</div>
</div>
<div id="app-stacks" class="app-stacks pure-u-1 pure-u-lg-1-2 lightly-hspace" hidden>
    <div class="margin-full-width">
        <div class="app-search-title">{% trans from 'compare' %}found_count_results{% endtrans %}</div>
        <div id="tpl-result-holder"></div>
        <div class="app-stacks-navigation">
            <button class="pure-button" onclick="search.changeResult(false)">{{ 'Previous'|trans({}, 'compare') }}</button>
            <button class="pure-button" onclick="search.changeResult(true)">{{ 'Next'|trans({}, 'compare') }}</button>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="application/javascript">
    trans.add('search_with', '{{ 'search_with'|trans({}, 'compare') }}');
    trans.add('start_searching', '{{ 'start_searching'|trans({}, 'compare') }}');
</script>
{% endblock %}