{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Display Settings{% endblock %}

{% block page_content %}
    <form method="post" action="{{ path('admin_display_settings_post') }}" id="display-settings">
        <div class="form-group row">
            <label for="per-page" class="col-form-label">Books per page</label>
            <div class="form-widget">
                <input type="number" min="2" class="form-control" id="per-page" name="per_page" placeholder="Number of books per pages" value="{{ per_page | escape('html_attr') }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="default-sort" class="col-form-label">Default sort</label>
            <div class="form-widget">
                <select class="form-control" id="default-sort" name="default_sort">
                    {% for value,label in constant('App\\Controller\\Admin\\DisplaySettingsController::AVAILABLE_SORT') %}
                        <option value="{{ value }}" {% if default_sort == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">

            </div>
        </div>
    </form>
{% endblock %}

{% block page_actions %}
    <button type="submit" class="btn btn-primary action-save" form="display-settings">
        <span class="btn-label">Save changes</span>
    </button>
{% endblock %}